<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4">
    <servlet>
        <servlet-name>PageHitCounter</servlet-name>
        <servlet-class>PageHitCounter</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PageHitCounter</servlet-name>
        <url-pattern>/PageHitCounter</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addUser</servlet-name>
        <servlet-class>addUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
</web-app>